@main("Dashboard"){
	<html>
		<head/>
	    <body>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span3">
		  				<div class="well sidebar-nav" style="height:575px;">
				            <h1>Comisiones</h1>
				            <p>Información de pagos pendientes</p>
				            <br>
				            <h3>Monto a pagar »</h3>
				            <span style="font-family: 'vivaldi'; font-size: 90px;color: #2974B9; letter-spacing: 3px;">$100</span>
				            <h3>Días restantes »</h3>
							<div id="chartdiv3" style="width: 200px; height: 130px;"></div>
							<div align="right">
								<br>
				            	<p><a style="text-indent: 0cm" class="btn btn-primary btn-large">Pagar ahora »</a></p>
				            </div>
		  				</div>
					</div>
			        <div class="well sidebar-nav" style="height:575px;">
			        	<div style="text-indent: 1cm">
				            <h1>Dashboard</h1>
				            <p>Estadísticas actualizadas de los últimos movimientos</p>
				            <br>
			          	</div>
				        <div class="row-fluid" width="700px">
				        	<div style="padding-left: 30px;" class="span4" width="400px">
				            	<h3>Stock faltante</h3>
				            	<br>
								<div id="chartdiv2" style="padding-top: 85px; width:350px; height:300px;"></div>
				            </div>
				            <div style="padding-left: 30px;" class="span4" width="400px">
				              	<h3>Prendas más vendidas</h3>
								<div id="chartdiv" style="width:450px; height:300px;"></div>
								<div style="padding-left: 365px;" align="right">
									<div style="padding-bottom: 35px;"></div>
					            	<p><a href="dashboard" style="text-indent: 0cm;" class="btn btn-primary btn-large">Ver más »</a></p>
					            </div>
				            </div>
				        </div>
			        </div>
		      </div>
		
		    <hr>
			<script src="@routes.Assets.at("javascripts/amcharts/amcharts.js")" type="text/javascript"></script>
			<script src="@routes.Assets.at("javascripts/dashboard.js")" type="text/javascript"></script>
    </body>
</html>
}