@main("Dashboard"){
  <div class="well container-fluid">
  	<h1>Dashboard</h1>
    <p>Estadísticas detalladas de los movimientos</p>
  </div>
  <nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	    <a class="navbar-brand">Filtrar por</a>
	  </div>
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#" id="btn_all">Todo</a></li>
	      <li><a href="#" id="btn_item">Prenda</a></li>
	      <li><a href="#" id="btn_album">Album</a></li>
	    </ul>
	  </div>
  </nav>
  <div id="prenda" style="height: 1200px;" class="well container-fluid">
  	<div class="row-fluid">
	  	<h1>Prendas</h1>
	    <p>Estadísticas agrupadas por prenda</p>
	    <br>
	    <div class="col-md-6">
	      	<h3>Prendas más vendidas en el último mes</h3>
			<div id="chartdiv_mostMonthlyBoughtItems" class="col-md-6" style="width:450px; height:300px;"></div>
	    </div>
	    <div class="col-md-6">
	      	<h3>Prendas más vistas en el último mes</h3>
			<div id="chartdiv_mostMonthlyViewedtItems" class="col-md-6" style="width:450px; height:300px;"></div>
	    </div>
	    <div class="col-md-6">
	      	<h3>Prendas más vendidas</h3>
			<div id="chartdiv_mostAllTimeBoughtItems" class="col-md-6" style="width:450px; height:300px;"></div>
	    </div>
	    <div class="col-md-6">
	      	<h3>Prendas más vistas</h3>
			<div id="chartdiv_mostAllTimeViewedItems" class="col-md-6" style="width:450px; height:300px;"></div>
	    </div>
	    <div class="col-md-6">
	      	<h3>Prendas menos vendidas</h3>
			<div id="chartdiv_lessBoughtItems" class="col-md-6" style="width:450px; height:300px;"></div>
	    </div>
	    <div class="col-md-6">
	      	<h3>Prendas menos vistas</h3>
			<div id="chartdiv_lessViewedItems" class="col-md-6" style="width:450px; height:300px;"></div>
	    </div>
	</div>
  </div>
  <div id="album" style="height: 600px;" class="well container-fluid">
  	<div class="row-fluid">
	    <h1>Albumes</h1>
	    <p>Estadísticas agrupadas por álbum</p>
	    <br>
		<div class="col-md-5">
	    	<h3>Cantidad de prendas por Album</h3>
	    	<br>
		    <br>
		    <br>
			<div id="chartdiv_biggestAlbums" class="col-md-5" style="width:350px; height:300px;"></div>
		</div>
		<div class="col-md-7">
	      	<h3>Albumes más vistos</h3>
			<div id="chartdiv_mostViewedAlbums" class="col-md-7" style="width:700px; height:300px;"></div>
	    </div>
	</div>
  </div>
  <div style="padding-left: 300px" class="col-md-15" align="right">
	<p><a href="dashboard" style="text-indent: 0cm;" class="btn btn-primary btn-large">Volver »</a></p>
  </div>
  
  <script src="@routes.Assets.at("javascripts/amcharts/amcharts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/dashboard.js")" type="text/javascript"></script>
}