@(seller: Seller, items: List[Item])

@main(title="Prendas @seller.name") {

<!-- Creates an unordered list of the Seller Items -->
<!--<header class="seller page-header">
	<h1>@seller.name</h1>
</header>
<h2>Items</h2>
<div id="items" style="height: 80%;">
	@for(item <- items) {
			@views.html.items.item(item)
	}
</div>-->
<div ng-controller='searchClothesCtrl'>
<nav id='itemsControls'>
	<h3>Filters</h3>

    <ul id="filters" class="option-set btn-group" data-option-key="filter"> <!--Filters by class-->
      <li class='btn btn-default'><a href="#filter" data-option-value="*" class="selected active">show all</a></li>
      <li class='btn btn-default'><a href="#filter" data-option-value=".camisa">camisa</a></li>
      <li class='btn btn-default'><a href="#filter" data-option-value=".abrigo">abrigo</a></li>
      <li class='btn btn-default'><a href="#filter" data-option-value=".pantalon">pantalon</a></li>
      <li class='btn btn-default'><a href="#filter" data-option-value=".camisa, .pantalon">pantalon y camisa</a></li>
      <li class='btn btn-default'><a href="#filter" data-option-value=":not(.abrigo)">no abrigo</a></li>
    </ul>
  
    <h3>Sort</h3>

    <ul id="sort-by" class="option-set btn-group" data-option-key="sortBy">
      <li class='btn btn-default'><a href="#sortBy=original-order" data-option-value="original-order" class="selected" data="">original-order</a></li>
      <li class='btn btn-default'><a href="#sortBy=title" data-option-value="title">título</a></li>
      <li class='btn btn-default'><a href="#sortBy=price" data-option-value="price">precio</a></li>
      <li class='btn btn-default'><a href="#sortBy=type" data-option-value="type">tipo</a></li>
      <li class='btn btn-default'><a href="#sortBy=random" data-option-value="random">random</a></li>
    </ul>

    <h3>Sort direction</h3>

    <ul id="sort-direction" class="option-set btn-group" data-option-key="sortAscending">
      <li class='btn btn-default'><a href="#sortAscending=true" data-option-value="true" class="selected">sort ascending</a></li>
      <li class='btn btn-default'><a href="#sortAscending=false" data-option-value="false">sort descending</a></li>
    </ul>
</nav>

<ul>
  <li ng-repeat="item in items">
    <p>{{item.id}}</p>
  </li>
</ul>

<div id="itemsContainer" class="items isotope row">
    
	<div class="item camisa" data-category='camisa' data-item-id='1'>
	  <img src="http://farm5.static.flickr.com/4113/5013039951_3a47ccd509.jpg" alt="Stanley">
	  <div class="itemInformation">
	  	<h2 class='title'>Stanley</h2>
	  	<h3 class='description'>Descripción muy descriptiva.</h3><span class='sellerName'>by Krea</span>
	  	<p class='price'>$200</p>
	  	<div class='itemControls btn-group'>
		  	<button type='button' class='buy btn btn-primary'>Comprar</button>
		  	<button type='button' class='buy btn btn-default'>Wishlist</button>
		</div>
	  </div>
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4131/5013039885_0d16ac87bc.jpg" alt="Officer">
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4086/5013039583_26717f6e89.jpg" alt="Tony">
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4146/5013646070_f1f44b1939.jpg" alt="Kendra">
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4144/5013039541_17f2579e33.jpg" alt="Giraffe">
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Gavin">
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4113/5013039697_a15e41fcd8.jpg" alt="Anita">
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4124/5013646314_c7eaf84918.jpg" alt="Take My Portrait">
	</div>
	
	<div class="item">
	  <img src="http://farm5.static.flickr.com/4089/5013040075_bac12ff74e.jpg" alt="Wonder">
	</div>
    
</div>

</div>

<script src="@routes.Assets.at("javascripts/jquery.isotope.min.js")" type="text/javascript"></script>
<script>
function searchClothesCtrl($scope){
 	$scope.items=[];
	
	jsRoutes.controllers.Sellers.itemsOwnedBy(1).ajax({
		success: function(json){
			$scope.items = json.slice();}
	});
	
	console.log($scope.items);
}
$(document).ready(function(){
  
  var $container = $('#itemsContainer');
  
  $container.imagesLoaded( function(){
	  $container.isotope({
		itemSelector: '.item',
		getSortData : {
	        type : function( $elem ) {
	          return $elem.attr('data-type');
	        },
	        price : function( $elem ) {
	          return parseFloat( $elem.find('.price').text().replace('$','') );
	        },
	        title : function ( $elem ) {
	          return $elem.find('.title').text();
	        }
	    }
	  });
   });
  
	var $optionSets = $('#itemsControls .option-set'),
	$optionLinks = $optionSets.find('a');

	$optionLinks.click(function(){
		var $this = $(this);
		// don't proceed if already selected
		if ( $this.hasClass('selected') ) {
		  return false;
		}
		var $optionSet = $this.parents('.option-set');
		$optionSet.find('.selected').removeClass('selected').removeClass('active');
		$this.addClass('selected').addClass('active');
		
		// make option object dynamically, i.e. { filter: '.my-filter-class' }
		var options = {},
		    key = $optionSet.attr('data-option-key'),
		    value = $this.attr('data-option-value');
		// parse 'false' as false boolean
		value = value === 'false' ? false : value;
		options[ key ] = value;
		if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
		  // changes in layout modes need extra logic
		  changeLayoutMode( $this, options )
		} else {
		  // otherwise, apply new options
		  $container.isotope( options );
		}
		
		return false;
	});

  
  // change size of clicked item
  $container.delegate( '.item', 'click', function(){
	if($(this).hasClass('large')){
		$(this).removeClass('large');
	}
	else
	{
		$container.find('.item.large').removeClass('large');
		$(this).addClass('large');
	}
	$container.isotope('reLayout');
  });
  
  // toggle display of item information
  $('.item').mouseenter(function(e){e.preventDefault();$(this).find('.itemInformation').show();});
  $('.item').mouseleave(function(e){e.preventDefault();$(this).find('.itemInformation').hide();});
  
});
</script>

}