@font-face {
                font-family: ClaireHand;
                src: url('/assets/fonts/clairehandregular-webfont.eot');
                src: url('/assets/fonts/clairehandregular-webfont.eot?#iefix') format('embedded-opentype'),

                url('/assets/fonts/clairehandregular-webfont.woff') format('woff'),
                url('/assets/fonts/clairehandregular-webfont.ttf') format('truetype'),
                url('/assets/fonts/clairehandregular-webfont.svg#claire_handregular') format('svg');
                font-weight: normal;
                font-style: normal
            }