<div class="well" style="padding-bottom: 5px; padding-top: 5px;">
<div class="row">
	<div align="center" style="margin-bottom: 15px">
		<h1 class="vestaro-logo" style="font-size: 100px">Vestaro</h1>
		<button id="knowMoreBtn" type="button" class="btn btn-primary">Conocer más!</button>
	</div>
	<div id="knowMore" style="display: none">
		<div class="col-md-6">
			<div class="video-container"><iframe width="320" height="160" src="//www.youtube.com/embed/cz6CkquHV04?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></div>
		</div>
		<div class="col-md-6">
		<div class="panel panel-info" style="border-color: #2974B9">
	        <div class="panel-heading" style="background-color: #2974B9; color: white;">
	          <h3 class="panel-title">¿Por qué elegir Vestaro?</h3>
	        </div>
			<div class="panel-body">
				<div class="media">
					<a class="pull-left" href="https://www.facebook.com/vestaro" style="width: 64px; height: 64px;"> <img class="media-object" data-src="holder.js/64x64" alt="64x64"
						src="/assets/img/vestaro/facebook.jpg"
						style="width: 60px; height: 60px;">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Accedé con Facebook.</h4>
					</div>
				</div>
				<div class="media">
					<a class="pull-left" href="http://easyrec.org/" style="width: 64px; height: 64px;"> <img class="media-object" data-src="holder.js/64x64" alt="64x64"
						src="/assets/img/vestaro/gustos.jpg"
						style="width: 50px; height: 64px;">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Recomendaciones adaptadas a <strong>tus</strong> gustos.</h4>
					</div>
				</div>
				<div class="media">
					<a class="pull-left" style="width: 64px; height: 64px;"> <img class="media-object" data-src="holder.js/64x64" alt="64x64"
						src="/assets/img/vestaro/puntos.jpg"
						style="width: 64px; height: 64px;">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Acumulá puntos!</h4>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- Recommended Items -->
<div align="center">
	<h1 class="page-header">Sabemos qué te gusta. <small>Recomendaciones adaptadas a vos.</small></h1>
	<div id="itemsContainer" class="items isotope row">
		<div ng-repeat="item in items" ng-mouseenter="actionsView=true" ng-mouseleave="actionsView=false"
			class="item camisa" data-item-id="{{item.id}}" data-category="camisa" on-finish-render="isotope" align="center">
			<div class="item-container">
				<img class="item-img img-responsive" src="{{item.imgUrl}}" alt="{{item.title}}">
				<div class="item-actions" ng-show="actionsView">
					<ol class="breadcrumb" style="border-radius: 0px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; margin: 0px;">
						<li ng-click="addToWishlist(item)" class="has-tooltip action" title="Agregar a Wishlist"><span class="glyphicon glyphicon-star-empty"></span></li>
						<li ng-click="shareItem(item)" class="has-tooltip action" title="Compartir en Facebook"><span class="glyphicon glyphicon-thumbs-up"></span></li>
						<li ng-click="showBuyItemModal(item)" class="has-tooltip action" title="Ver más"><span class="glyphicon glyphicon-zoom-in"></span></li>
					</ol>
				</div>
				<div ng-show="actionsView" class="item-info-container">
					<div class="item-info" align="center">
						<h3 class="title">{{item.title}}</h3>
						<p><a href="{{item.seller.webpageUrl}}" class='sellerName'><strong>{{item.seller.brandName}}</strong></a></p>
						<div class="btn-group">
							<div class="btn btn-default disabled price">${{item.price}}</div>
							<a type="button" href="#/buy?id={{item.id}}" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<!-- Top Sold/Viewed Items -->
	<div class="col-md-8">
		<div class="well" style="padding: 5px">
			<div class="page-header" align="center" style="margin-top: -15px">
				<h3>Prendas populares</h3>
			</div>
			<div class="row" style="margin:0">
			<div class="col-md-3 item-container" style="padding-right:10px; padding-left:10px;" ng-repeat="item in popularItems | limitTo:4"
				ng-mouseenter="actionsView=true" ng-mouseleave="actionsView=false">
				<div class="thumbnail item-thumb">
					<div class="item-actions" ng-show="actionsView">
						<ol class="breadcrumb">
							<li ng-click="addToWishlist(item)" class="has-tooltip action" title="Agregar a Wishlist"><span class="glyphicon glyphicon-star-empty"></span></li>
							<li ng-click="shareItem(item)" class="has-tooltip action" title="Compartir en Facebook"><span class="glyphicon glyphicon-thumbs-up"></span></li>
							<li ng-click="showBuyItemModal(item)" class="has-tooltip action" title="Ver más"><span class="glyphicon glyphicon-zoom-in"></span></li>
						</ol>
					</div>
					<div class="item-main">
						<h4 class="item-title">{{item.title}}</h4>
						<img class="item-img img-responsive" src="{{item.imgUrl}}" alt="{{item.description}}">
					</div>
					<div class="item-details" align="center">
						<div class="btn-group">
							<div class="btn btn-default disabled price">${{item.price}}</div>
							<a type="button" href="#/buy?id={{item.id}}" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	
	<!-- Facebook Activity Plugin -->
	<div class="col-md-4">
	<div class="well" style="padding: 10px;" align="center">
		<label>Tus amigos y Vestaro</label>
		<div class="fb-activity" data-site="developers.facebook.com" data-colorscheme="light" data-header="true"></div>
	</div>
	</div>
</div>

<!-- BUY MODAL -->
<div ng-include="'/assets/html/buyItemModal.html'"></div>

<!-- Alert Modal -->
<div ng-include="'/assets/html/alertModal.html'"></div>
