<input type="text" ng-model="search" class="search-query" placeholder="Search"> <a href="#/new"><i class="icon-plus-sign"></i></a> 
<div class="row-fluid" ng-repeat="i in projects.range()">
  <div class="span4" ng-repeat="project in projects.slice(i,i+3) | filter:search | orderBy:'name'">
    <img src="/assets/img/imageFormat256x144.png" class="img-polaroid" style="margin-bottom: 3px;">
    <div class="pull-right" style="text-align: right;">
      <span style="font-weight:bold;font-size: 21px;">$ 120</span>
      <div class="payment">
          <strong>12</strong> cuotas de <br>
          <span class="ch-price">$ 422<sup>14</sup></span>
      </div>
    </div>
    <p style="font-weight:bold;">{{project.name}}</p>
    <p style="font-size: 12px;">{{project.description}}
      <a href="{{project.site}}" target="_blank">ver mas </a>
      <a href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a>
    </p>
  </div>
</div><!--/row-->
        