@main("ItemList") {


<div class="container-fluid"  ng-app="project">
      <div class="row-fluid">
        
<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Otoño 13</li>
              <li class="active"><a href="#">tendencias</a></li>
              <li><a href="#">Tendencias</a></li>
              <li><a href="#">Destacados</a></li>
              <li><a href="#">Lo mas vendido</a></li>
              <li class="nav-header">Categorias</li>
              <li><a href="#">Remeras</a></li>
              <li><a href="#">Camisas</a></li>
              <li><a href="#">Camperas</a></li>
              <li><a href="#">Buzos</a></li>
              <li><a href="#">Pantalones</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9" ng-view >



        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>© Company 2013</p>
      </footer>

    </div>

    }