@(siteUrl: String)
	<iframe name="f29c0e04a8" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:activity Facebook Social Plugin"
		src="https://www.facebook.com/plugins/activity.php?action=like&amp;
		header=true&amp;recommendations=false&amp;
		site=@siteUrl&amp;
		font=arial&amp;
		app_id=118280394918580&amp;
		locale=es_ES&amp;
		sdk=joey&amp;
		channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D26%23cb%3Df1850d550%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ff223086f0c%26domain%3Ddevelopers.facebook.com%26relation%3Dparent.parent"
		style="border: none; visibility: visible; width: 300px; height: 300px;" class="">
	</iframe>