<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="alert alert-block alert-{{alert.type}}">
					<h3>{{alert.title}}</h3>
					<p style="margin-bottom:10px">{{alert.body}}</p>
					<p>
						<a type="button" class="btn btn-{{alert.type}}" ng-click="hideAlertModal()" data-dismiss="modal" aria-hidden="true" href="{{alert.btns.primary.href}}">{{alert.btns.primary.title}}</a>
						<a type="button" class="btn btn-default" ng-click="hideAlertModal()" data-dismiss="modal" aria-hidden="true" href="{{alert.btns.default.href}}">{{alert.btns.default.title}}</a>
					</p>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>