<h1>Buyer's Home Template</h1>

<input type="text" ng-model="search" class="search-query" placeholder="Search">
<input type="text" ng-model="order" class="search-query" placeholder="Order">

<div class="row">
  <div ng-repeat="item in items | filter:search | orderBy:order" class="col-md-3 thumbnail">
    <div style="height: 100px; width: 100%; display: block;">
    	<h3>{{item.title}}</h3>
    </div>
    <a href="#" style="height: 200px; width: 100%; display: block;">
      <img class="img-responsive" alt="{{item.title}}" src="{{item.imgUrl}}">
    </a>
  </div>
</div>
