<div class='row well'>
	<div class="col-md-6">
	<h1 class="vestaro-logo" style="font-size: 120px">Vestaro</h1>
	</div>
	<div class="col-md-6">
	<iframe width="320" height="180" src="//www.youtube.com/embed/cz6CkquHV04?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class='row'>
<!-- Top Sold/Viewed Items -->
<div class="col-md-2" >
<div class="well" style="padding: 5px">
	<label>Prendas populares</label>
	<div ng-repeat="item in popularItems | limitTo:4"
		class="item-container" ng-mouseenter="actionsView=true" ng-mouseleave="actionsView=false">
		<div class="thumbnail" style="margin: 1px; position: relative; padding-top: 0px;">
			<!-- TODO: extract style to main.css -->
			<div class="item-actions" ng-show="actionsView" style="position: absolute; z-index: 1; right: 0px; opacity: 0.9; display: none;">
				<ol class="breadcrumb" style="border-radius: 0px; border-bottom-left-radius: 4px; border-top-right-radius: 4px;">
					<li class="has-tooltip action" title="Agregar a Wishlist"><span class="glyphicon glyphicon-star-empty"></span></li>
					<li class="has-tooltip action" title="Compartir en Facebook"><span class="glyphicon glyphicon-thumbs-up"></span></li>
					<li class="has-tooltip action" title="Ver más" ng-click="showItemModal(item)"><span class="glyphicon glyphicon-zoom-in"></span></li>
				</ol>
			</div>
			<div class="item-main">
				<h3 class="item-title">{{item.title}}</h3>
				<img class="item-img img-responsive" style="border-top-right-radius: 4px;" src="{{item.imgUrl}}" alt="{{item.description}}">
			</div>
			<div class="item-details">
				<div class="btn-group">
					<div class="btn btn-default disabled" style="font-color: #2974B9; font-weight: bold; font-size: 14px;">${{item.price}}</div>
					<button type="button" class="btn btn-primary">Comprar</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- Recommended Items -->
<div class="col-md-8">
	<h1 class="page-header">La mejor ropa. <small>Sabemos qué te gusta.</small></h1>
	<div id="itemsContainer" class="items isotope row">
		<div ng-repeat="item in items" ng-mouseenter="actionsView=true" ng-mouseleave="actionsView=false"
			class="item camisa" data-item-id="{{item.id}}" data-category="camisa" on-finish-render="isotope">
			<img src="{{item.imgUrl}}" alt="{{item.title}}">
			<div ng-show="actionsView" class="itemInformation">
				<h2 class='title'>{{item.title}}</h2>
				<h3 class='description'>{{item.description}}</h3>
				<span class='sellerName'>{{item.seller.name}}</span>
				<p class='price'>${{item.price}}</p>
				<div class='itemControls btn-group'>
					<button type='button' class='buy btn btn-primary'>Comprar</button>
					<button type='button' class='buy btn btn-default'>Wishlist</button>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	<div id="itemsContainer" class="items isotope"> -->
    
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4131/5013039885_0d16ac87bc.jpg" alt="Officer"> -->
<!-- 		</div> -->
		
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4086/5013039583_26717f6e89.jpg" alt="Tony"> -->
<!-- 		</div> -->
		
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4146/5013646070_f1f44b1939.jpg" alt="Kendra"> -->
<!-- 		</div> -->
		
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4144/5013039541_17f2579e33.jpg" alt="Giraffe"> -->
<!-- 		</div> -->
		
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Gavin"> -->
<!-- 		</div> -->
		
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4113/5013039697_a15e41fcd8.jpg" alt="Anita"> -->
<!-- 		</div> -->
		
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4124/5013646314_c7eaf84918.jpg" alt="Take My Portrait"> -->
<!-- 		</div> -->
		
<!-- 		<div class="item"> -->
<!-- 		  <img src="http://farm5.static.flickr.com/4089/5013040075_bac12ff74e.jpg" alt="Wonder"> -->
<!-- 		</div> -->
	    
<!-- 	</div> -->
</div>
 

<!-- Facebook Activity Plugin -->
<div class="col-md-2">
<div class="well" style="padding: 5px">
	<label>Tus amigos y Vestaro</label>
</div>
</div>

</div>

<!-- <script> -->
// $(document).ready(function(){
  
//   var $container = $('#itemsContainer');
  
//   $container.imagesLoaded( function(){
// 	  $container.isotope({
// 		itemSelector: '.item',
// 		getSortData : {
// 	        type : function( $elem ) {
// 	          return $elem.attr('data-type');
// 	        },
// 	        price : function( $elem ) {
// 	          return parseFloat( $elem.find('.price').text().replace('$','') );
// 	        },
// 	        title : function ( $elem ) {
// 	          return $elem.find('.title').text();
// 	        }
// 	    }
// 	  });
//    });
  
// 	var $optionSets = $('#itemsControls .option-set'),
// 		$optionLinks = $optionSets.find('.option');

// 	$optionLinks.click(function(){
// 		var $this = $(this);
// 		// don't proceed if already selected
// 		if ( $this.hasClass('selected') ) {
// 		  return false;
// 		}
// 		var $optionSet = $this.parents('.option-set');
// 		$optionSet.find('.selected').removeClass('selected').removeClass('active');
// 		$this.addClass('selected').addClass('active');
		
// 		// make option object dynamically, i.e. { filter: '.my-filter-class' }
// 		var options = {},
// 		    key = $optionSet.attr('data-option-key'),
// 		    value = $this.attr('data-option-value');
// 		// parse 'false' as false boolean
// 		value = value === 'false' ? false : value;
// 		options[ key ] = value;
// 		if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
// 		  // changes in layout modes need extra logic
// 		  changeLayoutMode( $this, options )
// 		} else {
// 		  // otherwise, apply new options
// 		  $container.isotope( options );
// 		}
		
// 		return false;
// 	});
	
// 	// Toggles item size
// 	$container.on('click', '.item', function(){
// 		if($(this).hasClass('large')){
// 			$(this).removeClass('large');
// 		}
// 		else
// 		{
// 			$container.find('.item.large').removeClass('large');
// 			$(this).addClass('large');
// 		}
// 		$container.isotope('reLayout');
// 	});
	
// 	// Toggles item information
// 	$container.on('.item', 'mouseenter mouseleave',
// 		function(e){
// 			e.preventDefault();
// 			$(this).find('.itemInformation').fadeToggle('fast');
// 	});
  
// });
<!-- </script> -->
