@(formItem: Form[Item])

@import helper._

@main("Item Form") {

	<form class="form-horizontal">
	
	@helper.form(action = routes.Items.submit, 'id -> "userForm") {
		<fieldset>
	
		<!-- Form Name -->
		<legend>Nueva Prenda</legend>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="title">Nombre</label>
		  <div class="controls">
		    <input id="title" name="title" type="text" placeholder="Nombre de prenda..." class="input-large" required="">
		    
		  </div>
		</div>
		
		<!-- Textarea -->
		<div class="control-group">
		  <label class="control-label" for="description">Descripción</label>
		  <div class="controls">                     
		    <textarea id="description" name="description">Descripción de prenda...</textarea>
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="imgUrl">URL de Imágen</label>
		  <div class="controls">
		    <input id="imgUrl" name="imgUrl" type="text" placeholder="www.img-hosting.com/img.jpg" class="input-xlarge" required="">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="price">Precio</label>
		  <div class="controls">
		    <input id="price" name="price" type="text" placeholder="100" class="input-small" required="">
		    
		  </div>
		</div>
		
		<!-- Multiple Checkboxes (inline) -->
		<div class="control-group">
		  <label class="control-label" for="sex">Sexo</label>
		  <div class="controls">
		    <label class="checkbox inline" for="sex-0">
		      <input type="checkbox" name="sex" id="sex-0" value="F">
		      F
		    </label>
		    <label class="checkbox inline" for="sex-1">
		      <input type="checkbox" name="sex" id="sex-1" value="M">
		      M
		    </label>
		    <label class="checkbox inline" for="sex-2">
		      <input type="checkbox" name="sex" id="sex-2" value="Unisex">
		      Unisex
		    </label>
		  </div>
		</div>
		
		<!-- Button -->
	    <button id="create" name="create" class="btn btn-primary btn-large">Crear</button>
	
	</fieldset>
	    
	}
	</form>
	
}