@(item: Item)
<!-- TODO load item type dynamically -->
<li class="item camisa" data-item-id="@item.id" data-category="camisa">
	<img src=@item.imgUrl alt=@item.title>
	<div class="itemInformation">
		<h2 class='title'>@item.title</h2>
		<h3 class='description'>@item.description</h3><span class='sellerName'>@item.seller.brandName</span>
		<p class='price'>$@item.price</p>
		<div class='itemControls btn-group'>
		  	<button type='button' class='buy btn btn-primary'>Comprar</button>
		  	<button type='button' class='buy btn btn-default'>Wishlist</button>
		</div>
	</div>
</li>