<div class="container-fluid">
      <div class="row-fluid">
        
<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Otoño 13</li>
              <li class="active"><a href="#">tendencias</a></li>
              <li><a href="#">Tendencias</a></li>
              <li><a href="#">Destacados</a></li>
              <li><a href="#">Lo mas vendido</a></li>
              <li class="nav-header">Categorias</li>
              <li><a href="#">Remeras</a></li>
              <li><a href="#">Camisas</a></li>
              <li><a href="#">Camperas</a></li>
              <li><a href="#">Buzos</a></li>
              <li><a href="#">Pantalones</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span4">
              <img src="/assets/img/imageFormat256x144.png" class="img-polaroid" style="margin-bottom: 3px;">
              <div class="pull-right" style="text-align: right;">
                <span style="font-weight:bold;font-size: 21px;">$ 120</span>
                <div class="payment">
                    <strong>12</strong> cuotas de <br>
                    <span class="ch-price">$ 422<sup>14</sup></span>
                </div>
              </div>
              <p style="font-weight:bold;">Donec id elit</p>
              <p style="font-size: 12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum... <a>ver mas </a></p>
            </div>
            <div class="span4">
              <img src="/assets/img/imageFormat256x144.png" class="img-polaroid" style="margin-bottom: 3px;">
              <div class="pull-right" style="text-align: right;">
                <span style="font-weight:bold;font-size: 21px;">$ 120</span>
                <div class="payment">
                    <strong>12</strong> cuotas de <br>
                    <span class="ch-price">$ 422<sup>14</sup></span>
                </div>
              </div>
              <p style="font-weight:bold;">Donec id elit</p>
              <p style="font-size: 12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum... <a>ver mas </a></p>
            </div>
            <div class="span4">
              <img src="/assets/img/imageFormat256x144.png" class="img-polaroid" style="margin-bottom: 3px;">
              <div class="pull-right" style="text-align: right;">
                <span style="font-weight:bold;font-size: 21px;">$ 120</span>
                <div class="payment">
                    <strong>12</strong> cuotas de <br>
                    <span class="ch-price">$ 422<sup>14</sup></span>
                </div>
              </div>
              <p style="font-weight:bold;">Donec id elit</p>
              <p style="font-size: 12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum... <a>ver mas </a></p>
            </div>
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <img src="/assets/img/imageFormat256x144.png" class="img-polaroid" style="margin-bottom: 3px;">
              <div class="pull-right" style="text-align: right;">
                <span style="font-weight:bold;font-size: 21px;">$ 120</span>
                <div class="payment">
                    <strong>12</strong> cuotas de <br>
                    <span class="ch-price">$ 422<sup>14</sup></span>
                </div>
              </div>
              <p style="font-weight:bold;">Donec id elit</p>
              <p style="font-size: 12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum... <a>ver mas </a></p>
            </div>
            <div class="span4">
              <img src="/assets/img/imageFormat256x144.png" class="img-polaroid" style="margin-bottom: 3px;">
              <div class="pull-right" style="text-align: right;">
                <span style="font-weight:bold;font-size: 21px;">$ 120</span>
                <div class="payment">
                    <strong>12</strong> cuotas de <br>
                    <span class="ch-price">$ 422<sup>14</sup></span>
                </div>
              </div>
              <p style="font-weight:bold;">Donec id elit</p>
              <p style="font-size: 12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum... <a>ver mas </a></p>
            </div>
            <div class="span4">
              <img src="/assets/img/imageFormat256x144.png" class="img-polaroid" style="margin-bottom: 3px;">
              <div class="pull-right" style="text-align: right;">
                <span style="font-weight:bold;font-size: 21px;">$ 120</span>
                <div class="payment">
                    <strong>12</strong> cuotas de <br>
                    <span class="ch-price">$ 422<sup>14</sup></span>
                </div>
              </div>
              <p style="font-weight:bold;">Donec id elit</p>
              <p style="font-size: 12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum... <a>ver mas </a></p>
            </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>© Company 2013</p>
      </footer>

    </div>