@(orders : List[BuyOrder], buyer : Buyer) @import helper._

<div class="panel panel-default" style="text-align: center;">
	<h1>Mi perfil</h1>
	<h1></h1>
</div>
<div class="col-lg-4">
	<legend>
		<h2>Mis puntos</h2>
	</legend>
	<div class="jumbotron" style="text-align: center;">
		<h1 style="font-size: 100px; font-weight: bold; color: #428bca;">@buyer.points</h1>
		<p style="font-size: 20px; text-transform: uppercase;">puntos disponibles</p>
		<p style="margin-top: 65px; color: #428bca; font-style: italic; text-align: center; font-size: 15px;">Podés usarlos en cualquier compra!</p>
	</div>
</div>



@ordersHistory(orders)


</div>


<script>
	$(document).ready(function() {
		$('.collapse').collapse('hide');
	});
</script>

<style>
.PAYMENT_PENDING {
	background-color: rgb(153, 134, 202);
}

.RECEPTION_PENDING {
	background-color: rgb(100, 164, 233);
}

.RECEPTION_CONFIRMED {
	background-color: rgb(55, 197, 72);
}

.IN_DISPUTE {
	background-color: rgb(240, 77, 77);;
}
</style>
