@(orders : List[BuyOrder])
@import helper._

@main("Buy orders") {
	
  <div class="panel panel-default" style="text-align: center;"><h1>Mi perfil</h1><h1></h1></div>
	<div class="col-lg-4">
		<legend><h2>Mis puntos</h2></legend>	
		<div class= "jumbotron container" style="text-align:center;">
			<h1 style="font-size: 100px;  font-weight: bold; color: #428bca;">100</h1>
			<p style="font-size: 20px;text-transform: uppercase;">puntos disponibles</p>
			<p style="margin-top:65px; color:#428bca; font-style:italic;text-align: right; font-size:15px;"> Podés usarlos en cualquier compra!</p>
		</div>
	</div>

	<div class="col-lg-8">
	<legend><h2>Órdenes de compra</h2></legend>

<div class="panel-group" id="accordion">
  @for(buyOrder <- orders ){
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#@buyOrder.id">
        <strong> @buyOrder.item.title</strong> <span class="badge active pull-right @buyOrder.state">@buyOrder.state.getDescription()</span>
        </a>
      </h4>
    </div>
    <div id=@buyOrder.id class="panel-collapse collapse in">
      <div class="panel-body">
				<div class="col-lg-3">
					<img src=@buyOrder.item.imgUrl style="width:80%;">
				</div>
				<div class="col-lg-6">
					<p>Descripción: @buyOrder.item.description</p>
					<p>Talle: @buyOrder.size</p>
					<p>Precio: $@buyOrder.price</p>
				</div>
				<div class="col-lg-3">
					@if(buyOrder.state.getDescription() != "Recepción confirmada"){
						<button type="button" class="btn btn-primary">@buyOrder.state.getActionMessage()</button>
						@if(buyOrder.state.getDescription() == "Pendiente de recepción"){
						<button type="button" class="btn btn-default" style="margin-top:15px;">Abrir disputa</button>
							
						}
					}
				</div>
      </div>
    </div>
  </div>
  }
  
  </div>
		

	</div>
		

	<script>
		$(document).ready(function(){
			$('.collapse').collapse('hide');
		});
	</script>
	
	<style>
	.PAYMENT_PENDING{
		background-color: rgb(153, 134, 202);
		}
	.RECEPTION_PENDING{
		background-color: rgb(100, 164, 233);
		}
	.RECEPTION_CONFIRMED{
		background-color: rgb(55, 197, 72);
		}
	.IN_DISPUTE{
		background-color: rgb(240, 77, 77);;
		}
	</style>
	    

	}