@(item: Item, sizeOptions: Map[String, String], pointsEnabledName : String,  buyerPoints : Integer)
@import helper._


			
<div data-id="@item.id">
 
	<div id="rootwizard">
		<ul class="nav nav-pills">
			<li class="active"><a href="#" data-toggle="tab">Crear orden de compra</a></li>
			<li class=""><a id="orderItemButton" href="#tab2"  data-toggle="tab" >Pagar orden de compra</a></li>
		</ul>
					
		<div class="tab-content jumbotron" style="margin-top: 5px; min-height: 800px;" >
			
				<div class="tab-pane active" id="tab1">
						<div class="col-lg-5">

    				<img src="@item.imgUrl" alt="@item.title" class="img-responsive" >
						
						<div class="jumbotron " style="text-align: center;   background: #D9D9DB; margin-top:25px;">
  						<p style="font-size: 30px; font-weight: bold;">Talles Disponibles</p>
   						
							<div class="btn-group" data-toggle="buttons">
							@for((sizeOption , value) <- sizeOptions ){
 								 <label class="btn btn-primary" style="padding: 15px 25px;margin-left: 6px;">
   								 <input type="radio" name="options" id="option1" > @sizeOption</input> 
						  	</label>
							}
 							</div>
							</span>
						</div>
							</div>
  				<div class="col-lg-7">
						<div class="control-group">
				  		<p class="control-label" for="Title">Prenda: @item.title</p>
        			<p class="control-label" for="description">Descripción: @item.description</p>
							<p class="control-label" for="price">Precio: $@item.price</p>
							<p class="control-label" for="sellerName">Vendedor: <a href= @item.seller.webpageUrl>@item.seller.name</a></p>

						</div>
						
						
						<div name=@pointsEnabledName class="jumbotron " style="text-align: center;   background: #D9D9DB;">
  						<p style="font-size: 30px; font-weight: bold;">Puntos Disponibles</p>
   						<h1 style=" color: #428bca;  font-size: 120px;">@buyerPoints</h1>
					    <p>Equivale a $@(item.seller.pointMoneyRelation *  buyerPoints) para dicho vendedor</p>
							<p>Puntos a utilizar</p>
     					<input type="text" id="pointsToUse"   style="   text-align: center; font-size: xx-large; background: none;   width: 20%; "></input>
  						<p style=" color: #428bca;font-style: oblique;font-size: 18px; margin-top: 15px;">Recordá que no podés pagar más del 75% de tu compra con puntos</p>
						</div>
	    		</div>
				</div>

				<div class="tab-pane" id="tab2">
					<div class="control-group">
						<h2 style="margin-bottom: 30px;">Detalle compra</h2>
						<table class="table table-striped">
  						<tr>
								<td>Prenda</td>
								<td>@item.title</td>
							</tr>
  						<tr>
								<td>Descripción</td>
								<td>@item.description</td>
							</tr>
  						<tr>
								<td>Precio</td>
								<td>@item.price</td>
							</tr>
							<tr>
								<td>Talle</td>
								<td id=selectedSize></td>
							</tr>
  						<tr>
								<td>Vendedor</td>
								<td>@item.seller.name</td>
							</tr>
  						<tr>
								<td>Puntos usados</td>
								<td id="usedPoints"></td>
							</tr>
  						<tr>
								<td>Monto pendiente a pagar con MercadoPago</td>
								<td id="pendingAmount"></td>
							</tr>
  						<tr>
								<td>Puntos que se ganarán con la compra</td>
								<td id="earnedPoints"></td>
							</tr>

						</table>
						
						<div class="form-group">	
	    				<a id="mpButton" name="MP-Checkout" class="blue-rn-m" name="MP-Checkout" mp-mode="modal">Pagar</a>
				    </div>

			 		</div>
				</div>

						
		
	</div>	
	
</div>
<!--MP Script needed to give styles to payment button/modal-->
   <script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>

<!--App scrips TODO: take it to a separate file-->
	<script>
	$( document ).ready(function() {
	  	var pointsDiv= $('[name=pointsDisabled]');
				if(pointsDiv != null){
					disablePointsPayment(pointsDiv);
				}
			$("#orderItemButton").click(function(){
				orderItem();
			});
		});

	function disablePointsPayment(pointsDiv){
	  	pointsDiv.children().attr("disabled", "disabled");
	  	pointsDiv.css("opacity", "0.5");
	  	pointsDiv.append("<p class= 'disabledPointsLegend'>El vendedor no posee el sistema de puntos habilitado</p>")
		}
		
	function orderItem(){
	
		var selectedSize=$('label.active').get(0).innerText;
		var points =$("#pointsToUse").val();
		if(points== ""){
			points = 0;
		}
		
		jsRoutes.controllers.ItemController.orderItem("@item.id", selectedSize, points).ajax(
			{
				success:function(json){
					var pending = (@item.price - (@item.seller.pointMoneyRelation *  points));
					$("#mpButton").attr("href", json);
					$("#usedPoints").html(points);
					$("#earnedPoints").html(pending);
					$("#pendingAmount").html("$"+ pending);
					$("#selectedSize").html(selectedSize);
					
				}
			}
		);
	}
	</script>
	



