@(item: Item, sizeOptions: Map[String, String], pointsEnabledName : String)
@import helper._

@main("Detalle Item"){

			
<div data-id="@item.id">
 
	<div id="rootwizard">
		<ul class="nav nav-pills">
			<li class="active"><a href="#" data-toggle="tab">Crear orden de compra</a></li>
			<li class=""><a href="#tab2" data-toggle="tab" >Pagar orden de compra</a></li>
		</ul>
					
		<div class="tab-content jumbotron" style="margin-top: 5px;">
			
				<div class="tab-pane active" id="tab1">
  				<div class="col-lg-5">
    				<img src="@item.imgUrl" alt="@item.title" class="img-responsive" >
						
						<div class="jumbotron container" style="text-align: center;   background: #D9D9DB; margin-top:25px;">
  						<p style="font-size: 30px; font-weight: bold;">Talles Disponibles</p>
   						<selector id="colorpicker-picker" style="diaplay:none">
								@for((sizeOption, value) <- sizeOptions ){
									<option> @sizeOption</option>
								}
							</selector>
							<span class="simplecolorpicker inline">
									@for((sizeOption , value) <- sizeOptions ){
										<span class="" title=@sizeOption style="background-color: white;" data-color="#7bd148" role="button" tabindex="0">@sizeOption</span>
									}
							</span>
						</div>
  				</div>
  				<div class="col-lg-7">
						<div class="control-group">
				  		<p class="control-label" for="Title">Prenda: @item.title</p>
        			<p class="control-label" for="description">Descripción: @item.description</p>
							<p class="control-label" for="price">Precio: $@item.price</p>
							<p class="control-label" for="sellerName">Vendedor: <a href= @item.seller.webpageUrl>@item.seller.name</a></p>

						</div>
						
						
						<div name=@pointsEnabledName class="jumbotron container" style="text-align: center;   background: #D9D9DB;">
  						<p style="font-size: 30px; font-weight: bold;">Puntos Disponibles</p>
   						<h1 style=" color: #428bca;  font-size: 120px;">22</h1>
					    <p>Equivale a $2,2 para dicho vendedor</p>
							<p>Puntos a utilizar</p>
     					<input type="text" id="pointsToUSe" name="pointsToUSe"  style="   text-align: center; font-size: xx-large; background: none;   width: 20%; "></input>
  						<p style=" color: #428bca;font-style: oblique;font-size: 18px; margin-top: 15px;">Recordá que no podés pagar más del 75% de tu compra con puntos</p>
						</div>
	    		</div>
				</div>

				<div class="tab-pane" id="tab2">
					<div class="control-group">
				 		<label class="control-label" for="url">Pagar</label>
			 		</div>
				</div>

						
		<ul class="pager wizard">
			<li class="previous first disabled" style="display:none;"><a href="#">First</a></li>
		 	<li class="next"><a href="#">Siguiente</a></li>
		</ul>
	</div>	
	
</div>
	<script>
	$( document ).ready(function() {
  	var pointsDiv= $('[name=pointsDisabled]');
			if(pointsDiv != null){
				disablePointsPayment(pointsDiv);
			}
	});

	function disablePointsPayment(pointsDiv){
  	pointsDiv.children().attr("disabled", "disabled");
  	pointsDiv.css("opacity", "0.5");
  	pointsDiv.append("<p class= 'disabledPointsLegend'>El vendedor no posee el sistema de puntos habilitado</p>")
	}
	</script>
	
 	<style type="text/css">
		.disabledPointsLegend{
			position: relative;
			top: -450px;
			font-size: 18px;
			font-style: oblique;
			color: black;
		}
		.simplecolorpicker.picker:before {
		  position: absolute;
		  top: -7px;
		  left: 9px;
		  display: inline-block;
		  border-right: 7px solid transparent;
		  border-bottom: 7px solid #ccc;
		  border-left: 7px solid transparent;
		  border-bottom-color: rgba(0, 0, 0, 0.2);
		  content: '';
		}

	.simplecolorpicker.picker:after {
		  position: absolute;
		  top: -6px;
		  left: 10px;
		  display: inline-block;
		  border-right: 6px solid transparent;
		  border-bottom: 6px solid #ffffff;
		  border-left: 6px solid transparent;
		  content: '';
		}

	.simplecolorpicker.picker {
		  position: absolute;
		  top: 100%;
		  left: 0;
		  z-index: 1051; /* Above Bootstrap modal (z-index of 1050) */
		  display: none;
		  float: left;
		
		  min-width: 160px;
		  max-width: 264px;
		
		  padding: 4px 0 0 4px;
		  margin: 1px 0 0;
		  list-style: none;
		  background-color: #ffffff;
		
		  border: 1px solid #ccc;
		  border: 1px solid rgba(0, 0, 0, 0.2);
		
		  *border-right-width: 2px;
		  *border-bottom-width: 2px;
		
		  -webkit-border-radius: 5px;
		     -moz-border-radius: 5px;
		          border-radius: 5px;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

  .simplecolorpicker.inline {
    display: inline-block;
    height: 18px;
    padding: 4px 0;
  }

  .simplecolorpicker.icon,
  .simplecolorpicker span {
  	padding: 0px 15px;
    cursor: pointer;
    display: inline-block;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    border: 1px solid transparent;
  }
  .simplecolorpicker span {
    margin: 0 4px 4px 0;
  }

  .simplecolorpicker span:hover,
  .simplecolorpicker span.selected {
    border: 1px solid black;
  }
	</style>

}

