@(item: Item, sizeOptions: Map[String, String], buyerPoints: Integer)
@import helper._
			
<div data-id="@item.id">
 
	<div id="rootwizard">
		<ul class="nav nav-pills">
			<li class="active"><a href="#tab1" data-toggle="tab">Crear orden de compra</a></li>
			<li class=""><a id="orderItemButton" href="javascript:void(0);" data-toggle="tab" >Pagar orden de compra</a></li>
		</ul>
		<div class="tab-content jumbotron" style="margin-top: 5px; min-height: 900px;" >
			
				<div class="tab-pane active" id="tab1">
						<div class="col-lg-5">

    				<img src="@item.imgUrl" alt="@item.title" class="img-responsive" >
						
						<div class="jumbotron " style="text-align: center;   background: #D9D9DB; margin-top:25px;">
  						<p style="font-size: 30px; font-weight: bold;">Talles Disponibles</p>
   						
							<div class="btn-group" data-toggle="buttons">
							@for((sizeOptionId , sizeOption) <- sizeOptions ){
 								 <label class="btn btn-primary" for="@sizeOptionId" style="padding: 15px 25px;margin-left: 6px;">
   								 <input type="radio" name="options"  > @sizeOption</input> 
						  	</label>
							}
 							</div>
							</span>
						</div>
							</div>
  				<div class="col-lg-7">
						<div class="control-group">
				  		<p class="control-label" for="Title">Prenda: @item.title</p>
        			<p class="control-label" for="description">Descripción: @item.description</p>
							<p class="control-label" for="price">Precio: $@item.price</p>
							<p class="control-label" for="sellerName">Vendedor: <a href= @item.seller.webpageUrl>@item.seller.brandName</a></p>

						</div>
						
						<div class="jumbotron " style="text-align: center;   background: #D9D9DB;">
						@if(item.seller.pointsEnabled){
	  						<p style="font-size: 30px; font-weight: bold;">Puntos Disponibles</p>
	   						<h1 style=" color: #428bca;  font-size: 120px;">@buyerPoints</h1>
						    <p>Equivale a $@(item.seller.pointMoneyRelation *  buyerPoints) para dicho vendedor</p>
								<p>Puntos a utilizar</p>
	     					<input type="text" id="pointsToUse"   style="   text-align: center; font-size: xx-large; background: none;   width: 20%; "></input>
	  						<p style=" color: #428bca;font-style: oblique;font-size: 18px; margin-top: 15px;">Recordá que no podés pagar más del 75% de tu compra con puntos</p>
						} else {
							<p class= 'disabledPointsLegend'>El vendedor no posee el sistema de puntos habilitado</p>
						}
						</div>
	    		</div>
				</div>

				<div class="tab-pane" id="tab2">
					@payOrder(item, "", 0,"")
				</div>

						
		
	</div>	


@loadingModal("Creando tu órden de compra...", "loadingModal")

	
</div>


<!--App scrips TODO: take it to a separate file-->
	<script>
jQuery.fn.onlyDigits = function() {
    var k;
    // little trick just in case you want use this:
    $('<span></span>').insertAfter(this);
    var $dText = $(this).next('span').hide();
    // Really cross-browser key event handler
    function Key(e) {
        if (!e.which && ((e.charCode ||
        e.charCode === 0) ? e.charCode: e.keyCode)) {
        e.which = e.charCode || e.keyCode;
        } return e.which; }
    return $(this).each(function() {
        $(this).keydown(function(e) {
            k = Key(e);
            return (
            // Allow CTRL+V , backspace, tab, delete, arrows,
            // numbers and keypad numbers ONLY
            ( k == 86 && e.ctrlKey ) || (k == 224 && e.metaKey) || k == 8 || k == 9 || k == 46 || (k >= 37 && k <= 40 && k !== 32 ) || (k >= 48 && k <= 57) || (k >= 96 && k <= 105));
        }).keyup(function(e) {
            var value = this.value.replace(/\s+/,'-');
            // Check if pasted content is Number
            if (isNaN(value)) {
                // re-add stored digits if CTRL+V have non digits chars
                $(this).val($dText.text());
            } else { // store digits only of easy access
                $dText.empty().append(value);
            }
        });
    });
};
	$( document ).ready(function() {
		$("#pointsToUse").onlyDigits();
			$("#orderItemButton").click(function(){
				$('.alert').fadeOut();
					//Deleted validations (just in server for now)-> problem with selected tab
					$('#loadingModal').modal('show');
					orderItem();
			});
		});
		
	function selectFirstTab(){
		var tabs =$('.nav-pills').find('li');
		$(tabs.get(0)).attr("class", "active");
		$(tabs.get(1)).attr("class","");
	
	}
	function validateOK(){
		var ok= true;
		var message= "";
		var points =$("#pointsToUse").val();
		
		if(! $.isNumeric(points)){
			ok = false;
			message = "<p>Ingresá un valor numérico de puntos</p>" ;
		}
		else{
		
		//Validate not using more points than available
			if(points > @buyerPoints){
				ok = false;
				if(@buyerPoints == 0){
					message = "<p>No tenés puntos disponibles</p>" ;
				}
				else{
					message = "<p>Solo tenés " +@buyerPoints +" puntos disponibles</p>" ;
				}
			}
			
			//Validate max 75% of item price
			var maxPermitted = @item.price * 0.75;
			if(points * @item.seller.pointMoneyRelation > maxPermitted){
				ok = false;
				message += "<p>Sólo podés pagar el 75% del precio con puntos!</p>";
			}
		
		
		}
		
		if(! $('label.active').get(0)){
			ok = false;
			message +="<p>Por favor elegí tu talle</p>";
		}
		if(!ok){
			$('#rootwizard').before("<div class='alert alert-warning'>"+message+"</div>").prev().hide().fadeIn(1000);
			selectFirstTab();
		}
		return ok;
		
		
	}
	function orderItem(){
		var selectedLabel = $('label.active').get(0);
		var selectedSize= ((!selectedLabel) ? null : selectedLabel.innerText);
		var selectedSizeId=((! selectedLabel) ? null : selectedLabel.htmlFor);
		
		var points =$("#pointsToUse").val();
		if(points== "" || !@item.seller.pointsEnabled){
			points = 0;
		}
		
		jsRoutes.controllers.ItemController.orderItem("@item.id", selectedSizeId, points).ajax(
			{
				success:function(json){
						var pending = (@item.price - (@item.seller.pointMoneyRelation *  points));
					if(@item.seller.pointsEnabled){
						$("#earnedPoints").html(pending);
					}
					else{
						$("#earnedPoints").html("0 (sistema de puntos no habilitado)");
					
					}
					$("#mpButton").attr("href", json);
					$("#usedPoints").html(points);
					
					$("#pendingAmount").html("$"+ pending);
					$("#selectedSize").html(selectedSize);
					$('#tab1').attr('class','tab-pane');
					$('#tab2').attr('class','tab-pane active');
					$('#loadingModal').modal('hide');
					
				},
				
				error: function(xhr, status, error){
						$('#loadingModal').modal('hide');
				
					if(xhr.status == 422 || xhr.status==400){
						validateOK();					
						
					}
				}
			}
		);
	}
	
	</script>
	


