@()

<!-- Modal -->
<div class="modal fade" id="disputeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Abrir disputa</h4>
      </div>
			<div class="modal-body" style="text-align: center">
  			<textarea id="disputeMessage" class="form-control" style="height: 100px;resize: none;" placeholder="Ingrese la razón para abrir la disputa. La misma será enviada al vendedor."></textarea>
      </div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="save" class="btn btn-primary" data-loading-text="Cambiando estado..."	>Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
