
<div class="alert alert-block alert-warning fade in">
	<h3>
		<strong>Pago fallido</strong>
	</h3>
	<p>No se pudo realizar el pago correctamente.</p>
	<p>Reintentá más tarde buscando tu orden de compra en tu perfil.</p>
	<p>
		<a class="btn btn-warning" href="/#/buyerProfile">Ver órdenes de compra</a> <a class="btn btn-default" href="/">Seguir comprando</a>
	</p>
</div>


<!--Hack for closing MP modal-->
<script>
	$(document).ready(function(){
		var dialog = $('#MP-Checkout-dialog');
		if(!dialog)return;//there is no dialog
		dialog.find('div').get(0).click();//simulate click in close button
		
	});
</script>