@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/easyrec.js")" type="text/javascript"></script>
        
        <style type="text/css">
			form {
			   margin: 20px 0;
			}
		</style>
		
		<script>
			var tenantId = "Vestaro";
			var apiKey = "2df1c6d670c4ca40b6ee160e3d74e8b6";
		</script>
		
    </head>
    <body>
        @content

	    <form class="form-horizontal">
		  <div class="control-group">
		    <div>
		      Pruebas
		    </div>
		   	<hl>
		      <button type="submit" class="btn" onclick="easyrec_buy({userId:'2',
											                    itemId:'25',
											                    itemUrl:'http://url.ejemplo.com.ar',
											                    itemDescription:'Remera Bazzinga v2',
											                    itemImageUrl:'http://url.ejemplo/bazzinga.png'});">
	          Simular compra
	          </button>
	          <button type="submit" class="btn" onclick="easyrec_view({userId:'2',
											                    itemId:'25',
											                    itemUrl:'http://url.ejemplo.com.ar',
											                    itemDescription:'Remera Boca Juniors',
											                    itemImageUrl:'http://url.ejemplo/boca.png'});">
		   
	          Simular vista
	          </button>
	          <button type="submit" class="btn" onclick="easyrec_rate({userId:'2',
											                    itemId:'25',
											                    itemUrl:'http://url.ejemplo.com.ar',
											                    itemDescription:'Buzo Hola',
											                    itemImageUrl:'http://url.ejemplo/hola.png'});">
	          Simular puntuación
	          </button>
	          <button type="submit" class="btn" onclick="easyrec_otherUsersAlsoViewed({
													       userId:"2",
													       itemId:"25",
													       drawingCallback:"[drawbackname]"
													       });">
	          Simular Recomendación
	          </button>
		    </div>
		  </div>
		</form>
    </body>
</html>
