@(groupedNotifications: Map[String, List[Notification]])


<div class="page-header ng-scope" align="center">
	<h1>Notificaciones. <small>Tus ventas y disputas.</small></h1>
</div>


	@for((date , notificationList) <- groupedNotifications ){
 								
	<li = class= "list-group-item" style="width:55%;">
	<strong >@date </strong>
	<ul class="media-list " style="margin-left:40px; margin-top:5px;">

		@for(notification <- notificationList){
			<li id=@notification.buyerFBId class="media @notification.id " >
    		<a class="pull-left " href="javascript:seeNotification(@notification.id);" >
					<div 
							@if(notification.seen){
								id="seen" 
							}
							@if(!notification.seen){
								id="notSeen" 							
							}class="circle" style=" margin-top: 14px;"></div>
					<img style="height:50px; margin-left: 25px;margin-top: -40px;" class="media-object" src="http://media.salon.com/2013/01/Facebook-no-profile-picture-icon-620x389.jpg">
    		</a>			
    	
			<div class="media-body">
      	<h4 class="media-heading"> @notification.notificationType.getMessage()</h4>
	    <p ><strong>@notification.buyerName</strong> @notification.notificationType.getAction()<strong>@notification.itemTitle</strong></p>
    </div>
	</li>
			
		}

	</ul>
	</li>
	
	}

<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
			<div class="modal-body" style="text-align: center">
				
      </div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->








<style>

#notSeen {
	width: 15px;
	height: 15px;
	position: relative;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%, blue 5%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, lightblue, rgba(27, 161, 250, 1));
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}
#seen {
	width: 15px;
	height: 15px;
	position: relative;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%, blue 5%);
background-image: -webkit-radial-gradient(45px 45px, circle cover, lightgray, rgba(132, 122, 148, 1));	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.circle {
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}
</style>

<script>
	

	

		$( document ).ready(function() {
			showUsersPhotos();
				
		});

	function showUsersPhotos(){
    var notifications =$('.media');
		
		 var len = notifications.length;

    for (var i = 0; i < len; i++) {
        (function() {
            var j = i;             
            FB.api($(notifications[i]).attr("id")+'/picture', function(response) {
									var photo= $(notifications[j]).find('img');
									$(photo).attr('src',response.data.url);
                
            });
        })();
    }
	
	}

	function seeNotification(nclass){

		var notification = $('.'+nclass);
		var title = $(notification).find('h4').get(0).innerText;
		
		var modal=$('#notificationModal');
		$(modal).find('h4').text( title);
		$(modal).find('.modal-body').text( 'TEXTOOOO');
		modal.modal('show');
		
		
		if(notification.find('circle').attr('id') != 'seen'){
			markAsSeen(nclass);
		}
	}
	
	function markAsSeen(id){
	
		jsRoutes.controllers.NotificationController.markAsSeen(id).ajax(
			{
				success:function(json){
				var notification = $('.'+id);
				$(notification).find('.circle').attr('id','seen')
				}
			}
		);
		
	}

</script>