<!DOCTYPE html>
@()
@main("Recommendations") {
	<html>
		<head>
		    <style type="text/css">
				form {
				    padding-left: 90px;
				}
			</style>
			
			<script>
				var tenantId = "Vestaro";
				var apiKey = "2df1c6d670c4ca40b6ee160e3d74e8b6";
			</script>
	    </head>
	    <body>
		    <form class="form-horizontal">
		    	<br>
			  	<div class="control-group">
			  		ID Usuario:
			  		<br>
			  		<input id="userId"/>
			  		<br>
			  		<br>
			  		<hl>
			  			ID Item:
			  			<br>
			  			<input id="itemId"/>
			  			<br>
			  			<br>
			  			Descripción Item:
			  			<br>
			  			<input id="itemDescription"/>
			  		</hl>
				   	<br>
				   	<br>
				   	Cantidad de Eventos:
				   	<br>
				   	<input id="count"/>
					<br>
					<br>
				   	<hl>
				      	<button type="submit" class="btn" onclick="$(document).ready(function(){sendActionExample('buy')});">
			          	Simular Compra
			          	</button>
			          	<button type="submit" class="btn" onclick="$(document).ready(function(){sendActionExample('view')});">
			          	Simular Vista
			          	</button>
			          	<button type="submit" class="btn" onclick="$(document).ready(function(){sendActionExample('rate')});">
			          	Simular Puntuación
			          	</button>
			          	<button type="submit" class="btn" onclick="$(document).ready(function(){sendActionExample('LIKE')});">
			          	Simular Like
			          	</button>
			          	<button type="submit" class="btn" onclick="$(document).ready(function(){sendActionExample('SHARE')});">
			         	Simular Share
			         	</button>
			    	</hl>
		          	<button type="submit" class="btn" onclick="$(document).ready(function()
		          																{
	          																	   easyrec_mostViewedItems({
																			       numberOfResults:10,
																			       timeRange:'ALL',
																			       drawingCallback:'drawingCallbackExample'})
																				});">
		          	Simular Ranking
		          	</button>
	        		<div id="resultados">&nbsp;</div>
				</div>
			</form>
	    </body>
	</html>
}