<html>
	<head>
    	<script src="assets/lib/jQuery/2.0.3/jquery-2.0.3.min.js" type="text/javascript"></script>
    	<script src="assets/lib/easyrec-jsApi/easyrec-jsApi-v0.98.js"" type="text/javascript"></script>
    	<script src="assets/js/easyrec.js"" type="text/javascript"></script>
    
	    <style type="text/css">
			form {
			    padding-left: 90px;
			}
		</style>
    </head>
    <body>
	    <form class="form-horizontal">
	    	<br>
		  	<div class="control-group">
		  		Items más vistos de:
		  		<select id="sexo" onchange="exec_easyrec_function()">
		  			<option selected>MALE</option>
		  			<option>FEMALE</option>
		  		</select>
		  		<br>
		  		<br>
        		<div id="resultados">&nbsp;</div>
			</div>	
		</form>
		
	    <script>
			/* Si es servicio de Koding... */ //var easyrecApiUrl="http://vestaro.kd.io:8080/easyrec-web/api/1.0/json/";
			/* Si es instancia local...    */ var easyrecApiUrl="http://localhost:8080/easyrec-web/api/1.0/json/";
			
			var tenantId = "Vestaro";
			var apiKey = "2df1c6d670c4ca40b6ee160e3d74e8b6";
			
			function exec_easyrec_function(){
			    easyrec_mostViewedItems({
					numberOfResults:10,
					timeRange:'ALL',
			        requestedItemType: $('#sexo option:selected').text(),
					drawingCallback:'drawingCallback'
				});
			}
			
			exec_easyrec_function();
    	</script>
    </body>
</html>