<!DOCTYPE html>
@()
@main("Recommendations") {
	<html>
		<head>
		    <style type="text/css">
				form {
				    padding-left: 90px;
				}
			</style>
	    </head>
	    <body>
		    <form class="form-horizontal">
		    	<br>
			  	<div class="control-group">
			  		ID Usuario:
			  		<br>
			  		<input id="userId"/>
			  		<br>
			  		<br>
			  		<hl>
			  			ID Item:
			  			<br>
			  			<input id="itemId"/>
			  			<br>
			  			<br>
			  			Descripción Item:
			  			<br>
			  			<input id="itemDescription"/>
			  		</hl>
					<br>
					<br>
				   	<hl>
				   		<div class="btn btn-view-item">
			          		Simular Vista
			          	</div>
				      	<div class="btn btn-buy-item">
			          		Simular Compra
			          	</div>
			          	<div class="btn btn-rate-item">
			          		Simular Puntuación
			          	</div>
			          	<div class="btn btn-like-item">
			          		Simular Like
			          	</div>
			          	<div class="btn btn-share-item">
			         		Simular Share
			         	</div>
			    	</hl>
					<br>
					<br>
		          	<div class="btn btn-ranking-items">
		          		Simular Ranking Most Viewed
		          	</div>
		          	<div class="btn btn-related-items">
		          		Simular Related Items
		          	</div>
					<br>
					<br>
	        		<div id="resultados">&nbsp;</div>
				</div>
			</form>
	    </body>
	</html>
}